@font-face {
    font-family: Korolev;
    src: url(./assets/fonts/Korolev.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(./assets/fonts/Helvetica.ttf);
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 2em 4em;
}

nav {
    font-size: 1.1em;
    font-family: Helvetica;
}

nav a, nav .icon {
    margin: 0 0.5em;
    cursor: pointer;
    color: #060D0D;
}

a.active {
    font-weight: bolder;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.login {
    border-radius: 4px;
    padding: 0.5em 1.5em;
    border: solid 1px #060D0D;
}